/* Custome properties */
:root {
  --white-text-clr: 255, 255, 255;
  --black-text-clr: 0, 0, 0;
  --meal-border-clr: 210, 210, 210;
  --meal-ingrediences-clr: 139, 139, 139;
  --meal-btn-clr: 60, 60, 60;
  --meal-btn-border-clr: 222, 222, 222;
  --remove-btn-clr: 187, 187, 187;
  --checkout-divider-clr: 57, 51, 51;
  --green-btn-clr: 22, 219, 153;
  --input-clr: 117, 117, 117;
  --message-bg-clr: 236, 253, 245;
}

/* Set up the body */

body {
  margin: 0;
  padding: 0;
  font-family: "Smythe", cursive;
  font-size: 1em;
  color: rgba(var(--black-text-clr));
}

/* Typography */

.dinner-title {
  font-size: 2.5em;
  font-weight: 400;
}

.dinner-sub-title {
  font-size: 1.375em;
}

.meal-img {
  font-size: 4.92em;
}

.meal-title,
.checkout-headline,
.checkout-price-text {
  font-size: 1.75em;
}

.meal-price,
.checkout-price,
.pay-btn,
.modal input {
  font-size: 1.25em;
}

.meal-price,
.checkout-price,
.pay-btn {
  font-weight: bold;
}

.meal-btn {
  font-family: "Inter", sans-serif;
  font-size: 2em;
}

.remove-meal-btn,
.meal-count {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 0.75em;
}

.complete-btn,
.pay-btn {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.complete-btn {
  font-size: 1em;
  font-weight: bold;
}

.modal h2 {
  font-size: 1.5em;
  font-weight: bold;
}

.message-text {
  font-size: 2em;
}

/* Layout */

.container {
  margin: 0 auto 2.75em auto;
  text-align: center;
  max-width: 37.5em;
}

header {
  margin: 0;
}

.dinner {
  line-height: .6;
  color: rgba(var(--white-text-clr));
  background-image: url(./images/header.jpg);
  display: flex;
  flex-direction: column;
}

.dinner-title,
.dinner-sub-title {
  margin: 0 auto 0 0;
  padding-left: 2.875rem;
}

.dinner-title {
  padding-top: 2.875rem;
  padding-bottom: 1.25rem;
}

.dinner-sub-title {
  padding-bottom: 4rem;
}

button {
  cursor: pointer;
}

.meal,
.checkout {
  max-width: 31.5em;
}

.checkout {
  display: none;
  /*flex when displayed */
  flex-direction: column;
}

.meal {
  height: 5.5em;
  padding-bottom: 3.25em;
  display: flex;
  justify-content: left;
  align-items: center;
  border-bottom: 1px solid rgba(var(--meal-btn-border-clr));
  gap: 3em;
}

.meal-img {
  max-width: 4.375rem;
}

.meal-details {
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: center;
}

.meal-title,
.meal-ingrediences,
.meal-price {
  margin: 0 0 0.5rem 0;
}

.meal-ingrediences {
  color: rgba(var(--meal-ingrediences-clr));
}

.meal-buttons {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 1em;
}

.checkout-order {
  padding-bottom: 1.5em;
  border-bottom: 1px solid rgba(var(--checkout-divider-clr));
}

.checkout-meal {
  display: flex;
  align-items: center;
  gap: 0.625em;
}

.checkout-meal div {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 0.375em;
}

.remove-meal-btn,
.meal-count {
  color: rgba(var(--remove-btn-clr));
}

.remove-meal-btn {
  padding: 0;
  border: none;
  background-color: rgba(var(--white-text-clr));
}

.remove-meal-btn:hover,
.remove-meal-btn:focus,
.remove-meal-btn:active {
  color: red;
}

.checkout-summary {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 3.25em;
}

.checkout-price-text,
.checkout-price {
  margin: 0.625em 0 0.5em;
}

.complete-btn {
  padding: 1.125rem;
  line-height: 1.5;
}

.message {
  padding: 1.25em 0;
  width: 100%;
  background-color: rgba(var(--message-bg-clr));
  line-height: 0.5;
}

/* Modal */

.modal {
  display: none;
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 32.75em;
  height: 33.875em;
  box-shadow: 0 0 100rem 4rem rgba(var(--meal-btn-border-clr));
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  background-color: rgba(var(--white-text-clr));
}

.modal h2 {
  margin: 1.75em;
  line-height: 1.333;
}

.modal-inputs {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  margin: 1.875em auto;
  width: 90%;
}

/* Modal input */

.modal input {
  padding: 0.875em;
  line-height: 1.55;
  border: 2px solid rgba(var(--input-clr));
}

::placeholder {
  color: rgba(var(--input-clr), 0.7);
}

/* Modal button */

.pay-btn {
  width: 100%;
  margin: 1.875em 0;
  padding: 1em;
  line-height: 1.55;
}

/* Utility classes */

.meal-btn {
  margin: 0 0 0 0;
  border: 1px solid rgba(var(--meal-btn-border-clr));
  border-radius: 50%;
  color: rgba(var(--meal-btn-clr));
  background-color: rgba(var(--white-text-clr));
  width: 3.125rem;
  height: 3.125rem;
}

.meal-btn:focus,
.meal-btn:hover,
.meal-btn:active {
  border: none;
  background-color: rgba(var(--meal-border-clr));
}

.meal-btn:disabled {
  color: rgba(var(--meal-btn-clr), 0.3);
}

.purchase-btn {
  color: rgba(var(--white-text-clr));
  background-color: rgba(var(--green-btn-clr));
  border: none;
}

.purchase-btn:focus,
.purchase-btn:hover,
.purchase-btn:active {
  background-color: rgba(var(--green-btn-clr), 0.7);
}

.purchase-btn:disabled {
  background-color: rgba(var(--green-btn-clr), 0.3);
}

.rounded {
  border-radius: 0.375em;
}
